---
import config from '../../config'

interface Props {
	metaTitle: string;
	metaDescription: string;
}

const { metaTitle, metaDescription } = Astro.props;
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta
			property='og:type'
			content='website'
		/>
		<meta
			property='og:title'
			content={config.title}
		/>
		<meta
			property='og:description'
			content={config.description}
		/>
		<meta
			property='og:site_name'
			content={config.title}
		/>
		<meta
			property='twitter:card'
			content='summary'
		/>
		<meta
			property='twitter:creator'
			content={config.author}
		/>
		<meta
			property='twitter:title'
			content={config.title}
		/>
		<meta
			property='twitter:description'
			content={config.description}
		/>

		<title>{metaTitle}</title>
		<meta
			name='description'
			content={metaDescription}
		/>
	</head>
	<body>
		
		<slot />
	</body>
</html>
